<a [routerLink]="['/tasker', service.userId]">
  <mat-card>
    <mat-card-title-group>
      <img mat-card-sm-image *ngIf="service.picture" [src]="service.picture" />
      <mat-card-title>{{ service.taskerName }}</mat-card-title>

    </mat-card-title-group>
    <mat-card-content>
      <mat-card-subtitle>{{ service.profileSummary }}</mat-card-subtitle>
      <mat-card-subtitle>{{ service.servicesOffered.join(',') }}</mat-card-subtitle>
      <mat-card-subtitle>{{ service.Location }}</mat-card-subtitle>
      <mat-card-subtitle>{{ service.badge }}</mat-card-subtitle>
      <mat-card-subtitle>{{ service.ratings }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer>
      <div *ngFor="let review of service.reviews">
        <img mat-card-sm-image *ngIf="review.picture" [src]="review.picture" />
        <mat-card-subtitle>{{ review.picture }}</mat-card-subtitle>
        <mat-card-subtitle>{{ review.rating }}</mat-card-subtitle>
        <mat-card-subtitle>{{ review.comment }}</mat-card-subtitle>
      </div>

    </mat-card-footer>

    <button mat-raised-button color="primary">Get the service</button>
    <button mat-raised-button color="accent">View More Details</button>
  </mat-card>
</a>